@CHARSET "EUC-KR";

.header {padding: 10 0;}
.header .list-inline { margin-top: 21px; }
.header .list-inline li { padding-left: 10px; }

.card .list-inline { height: 25px; }


.logo,
.list-inline { line-height :3; }

.vertical-top { vertical-align: top; }
.display-ib { display:inline-block; }


.list-inline li { display: inline-block;  }
.list-inline .float-r { float:right; }

/*공통*/
body { font-size: 15px; }
ul { list-style: none; padding: 0; }
button:not(:disabled), 
[type='button']:not(:disabled), 
[type='reset']:not(:disabled), 
[type='submit']:not(:disabled),
span.btn { cursor: pointer; }
/* 마진,패딩 값 초기화 */
.mgReset { margin: 0px !important; }
.pdReset { padding: 0px !important; }

/*버튼*/
.sm { font-size: 10px; padding: 3px 5px; }
.md { font-size: 13px; padding: 5px 10px; }
.lg { font-size: 15px; padding: 5px 10px; }
.btn { vertical-align: middle !important; border-radius: 5px !important;   font-weight: bold !important;  }
.black { background-color: #333 !important; color: #fff !important; }
.gray { background-color: gray !important; color: #fff !important; }
.red { background-color: red !important; color: #fff !important; }
.green { background-color: green !important; color: #fff !important; }
.btn:hover { background-color: yellow !important; color: #333; border:1px solid #eee !important; }


/*로딩*/
#loading { display: none; background: #333; width: 100%; height: 100%; position: fixed; z-index: 1; opacity: 0.7; }
#loading > .loadingInner { margin: 0 auto; width: 200px; height: 150px; padding-top: 20%; text-align: center; }
#loading > .loadingInner img { width: 20px; }
#loading > .loadingInner p { font-size: 12px; color: #fff; padding-top: 10px; }